<nav>
  <div class="container planet-list__filter-container">
    <app-filter (setValue)="filterValue($event)" class="planet-list__filter"></app-filter>
    <app-pagination-length (currentPagination)="setPaginationLength($event)"></app-pagination-length>
  </div>
</nav>
Ilość planet spełniających kryteria: {{filteredPlanetList.length}}
<main>
  <ul>
    <ng-container *ngFor="let planet of filteredPlanetList; let index = index">
      <li *ngIf="(index + 1 > (currentPageNumber - 1) * (itemsCount) && index + 1 <= (currentPageNumber) * (itemsCount))">
        <a [routerLink]="[planet.name.replace(' ', '-') | lowercase]">
          {{planet.name}}
        </a>
      </li>
    </ng-container>
  </ul>
</main>

<app-pagination
[setPagination]="{
  'itemsCount': (planetCount),
  'pageSize': (itemsCount)
}"
[resetPageNumber]="(currentPageNumber)"
(goToPage)="paginationValue($event)"
>
</app-pagination>
