.single-planet{
  &__container{
    text-align: center;
    max-width: 800px;
    position: relative;
  }
  &__name{
    margin: 1rem 0;
    font-family: "Star-jedi";
  }
  &__sphere-container{
    position: relative;
    min-height: 300px;
  }
  &__sphere{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }
  &__return-button{
    width: 140px;
    display: inline-block;
    color: white;
    border-radius: 5px;
    box-shadow: 0 -1px 0px rgba(255,255,255,0.1) inset;
    background: rgba(0,0,0,0.4);
    padding: 10px 15px;
    text-decoration: none;
    &:hover{
      background: rgba(0,0,0,0.6);
    }
  }
}
