/* You can add global styles to this file, and also import other style files */

html, body {
  height: 100%;
  background-color: black;
  background-image: url('../src/assets/images/sky-background.jpg');
  background-size: cover;
  color: white;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  overflow-y: scroll;
  min-height: 100vh;
  app-root{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
}
h1{
  font-family: "Star-jedi";
}
.main{
  &__header{
    text-align: center;
    padding: 1rem;
    margin: 0;
  }
  &__footer{
    background: rgba(0, 0, 0, 0.6);
    padding: 1rem;
  }
}
